body {
    background-color: rgb(15, 15, 15);
}

* {
    font-family: 'GT Walsheim Pro';
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    color: #9146FF;
    font-size: 300px;
    text-align: center;
}